@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-slow {
  0%, 100% { transform: translateY(-50%) translateX(0); }
  50% { transform: translateY(-50%) translateX(-10px); }
}

.animate-bounce {
  animation: bounce-slow 2s infinite;
}
